<!DOCTYPE html>
<html>
  <head>
    <title>LoanProcessor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_react', 
                            id: "loan_applications_data", 
                            data: @loan_applications.to_json %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
